#_preseed_V1
# only ask important questions
d-i debconf/priority string critical
# set locale
d-i debian-installer/locale string en_US
# set keyboard type
d-i keyboard-configuration/xkb-keymap select us

# automatically select network interface
d-i netcfg/choose_interface select auto

# Any hostname and domain names assigned from dhcp take precedence over
# values set here. However, setting the values still prevents the questions
# from being shown, even if values come from dhcp.
d-i netcfg/get_hostname string unassigned-hostname
d-i netcfg/get_domain string unassigned-domain

# Disable that annoying WEP key dialog.
d-i netcfg/wireless_wep string

# use default debian mirror
d-i mirror/country string manual
d-i mirror/http/hostname string http.us.debian.org
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

# Skip creation of a root account (normal user account will be able to
# use sudo).
d-i passwd/root-login boolean false

# create default user
d-i passwd/user-fullname string rcunov
d-i passwd/username string rcunov
# encrypted password is temporary anyway, don't really care if it gets cracked
d-i passwd/user-password-crypted password $6$6bGXvcIwojmKQBNs$P68rvhTn5xb3Hx3eiocIZ44bqyu9BWLnl9qLiFzKUAYIIPEdD1mIm/rqqjuGttee7Mngr2cVEZM06ADit9E5J0

# Controls whether or not the hardware clock is set to UTC.
d-i clock-setup/utc boolean true

# You may set this to any valid setting for $TZ; see the contents of
# /usr/share/zoneinfo/ for valid values.
d-i time/zone string America/Chicago

# Controls whether to use NTP to set the clock during the install
d-i clock-setup/ntp boolean true

# specify the partition method to use.
# The presently available methods are:
# - regular: use the usual partition types for your architecture
# - lvm:     use LVM to partition the disk
# - crypto:  use LVM within an encrypted partition
d-i partman-auto/method string regular

# If one of the disks that are going to be automatically partitioned
# contains an old LVM configuration, the user will normally receive a
# warning. This can be preseeded away...
d-i partman-lvm/device_remove_lvm boolean true
# The same applies to pre-existing software RAID array:
d-i partman-md/device_remove_md boolean true
# And the same goes for the confirmation to write the lvm partitions.
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true

# You can choose one of the three predefined partitioning recipes:
# - atomic: all files in one partition
# - home:   separate /home partition
# - multi:  separate /home, /var, and /tmp partitions
d-i partman-auto/choose_recipe select atomic

# The full recipe format is documented in the file partman-auto-recipe.txt
# included in the 'debian-installer' package or available from D-I source
# repository. This also documents how to specify settings such as file
# system labels, volume group names and which physical devices to include
# in a volume group.
# https://salsa.debian.org/installer-team/debian-installer.git
# https://salsa.debian.org/installer-team/debian-installer/-/blob/master/doc/devel/partman-auto-recipe.txt

# Specify the partitions
d-i partman-auto/expert_recipe string                     \
     boot-root ::                                         \
             500 10000 -1 ext4                            \
                     $primary{ } $bootable{ }             \
                     method{ format } format{ }           \
                     use_filesystem{ } filesystem{ ext4 } \
                     mountpoint{ / }                      \
             .                                            \
             100% 512 100% linux-swap                     \
                     method{ swap } format{ }             \
             .

# This makes partman automatically partition without confirmation, provided
# that you told it what to do using one of the methods above.
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

# This makes partman automatically partition without confirmation.
d-i partman-md/confirm boolean true
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman-basicfilesystems/no_swap boolean true

# The kernel image (meta) package to be installed; "none" can be used if no
# kernel is to be installed.
d-i base-installer/kernel/image string linux-virtual

### Apt setup
# don't scan for additional media
d-i apt-setup/cdrom/set-first boolean false
# install non-free firmware
d-i apt-setup/non-free-firmware boolean true
# install non-free and contrib software
d-i apt-setup/non-free boolean true
d-i apt-setup/contrib boolean true

### Package selection
tasksel tasksel/first multiselect minimal
# Individual additional packages to install
d-i pkgsel/include string openssh-server git dnsutils tmux wget curl htop iftop vim rsync iperf3 unzip

# disable popularity content
popularity-contest popularity-contest/participate boolean false

### Boot loader installation
# Grub is the boot loader (for x86).

# This one makes grub-installer install to the UEFI partition/boot record, if
# it also finds some other OS, which is less safe as it might not be able to
# boot that other OS.
d-i grub-installer/with_other_os boolean true

# install grub to default device because it keeps fucking asking me despite setting it above
d-i grub-installer/bootdev string /dev/sda

# Avoid that last message about the install being complete.
d-i finish-install/reboot_in_progress note
